.divPrincipal {
    height: 75vh;
    background-color: #ffcc00;
    border: 1px solid #000;
  }

.puntopos {
    background-color: black;
    border-radius: 50%;
    position: absolute;
    height: 1vh;
    width: 1vh;
}